*.pyc
storage/*
!storage/*
__pycache__/
build/
dist/
logs/
cdn/gameassets/MapSchedule_v2.xml
cdn/gameassets/ZwiftAndroid_ver_cur.xml
cdn/gameassets/ZwiftiOS_ver_cur.xml
!cdn/gameassets/MapSchedule_v2.xml
!cdn/gameassets/ZwiftAndroid_ver_cur.xml
!cdn/gameassets/ZwiftiOS_ver_cur.xml